.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 1.1rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  text-decoration: none;
}
